<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
<head th:replace="fragment/common :: head('Write Memo')"></head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragment/common :: menu"></nav>

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Memo</h1>
<br><br>
        <form action="#" th:action="@{/memo/form}" th:object="${memo}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="row g-3">
            <div class="col-sm">
                <label for="word">English word</label>
                <textarea class="form-control" type="text" rows="3"
                          th:classappend="${#fields.hasErrors('word')} ? 'is-invalid'" id="word" th:field="*{word}" placeholder="ex) distinguish"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('word')}" th:errors="*{word}">
                    글쓴이 에러 메시지
                </div>
            </div>

            <div class="col-sm">
                <label for="meaning">Meaning</label>
                <textarea class="form-control" id="meaning" rows="3" th:field="*{meaning}"
                          th:classappend="${#fields.hasErrors('meaning')} ? 'is-invalid'" placeholder="ex) to be able to see, hear or understand something"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('meaning')}" th:errors="*{meaning}">
                    내용 에러 메시지
                </div>
            </div>

            <div class="col-sm-7">
                <label for="example">Example</label>
                <textarea class="form-control" id="example" rows="3" th:field="*{example}"
                          placeholder="ex) I couldn’t distinguish anything in the darkness."></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('example')}" th:errors="*{example}">
                    내용 에러 메시지
                </div>
            </div>
            </div>


            <p></p>
            <div class="text-end">
                <button type="submit" class="btn btn-success" >save</button>
                <a type="button" class="btn btn-outline-success" th:href="@{/memo/list}">list</a>
            </div>

        </form>

    </div>
</main>







<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->
</body>
</html>